
body {
  margin: 0px;
  height: 100%;
}


.icon {
  color: gray;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  position: relative;
}

.result {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playground {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.col {
  height: 100%;
  flex: 1;
}

.snake-body {
  background-color: gray;
  height: 100%;
}